:root {
    
	--clr-black: hsl(0, 0%, 0%); /* Hex  #000 */
    --clr-black-almost: hsl(0, 0%, 8%); /* Hex  #151515 */
    --clr-white: hsl(0, 0%, 100%); /* Hex  #FFF */
    --clr-blue-alice: hsl(208, 100%, 97%); /* Hex  #F0F8FF */
    --clr-blue-light: hsl(208, 100%, 79%); /* Hex  #93CDFF */
    --clr-purple-brand: hsl(274, 97%, 73%); /* Hex  #C479FD */

	--ff-wonderland: 'Wonderland', cursive;
    --ff-computer: 'Share Tech Mono', monospace;
    --ff-alice: 'Alice', serif;

	--fw-700: 700;
	--fw-400: 400;

	--fs-xlarge: 5.5rem; /* 88px */
	--fs-large: 3.5rem; /* 56px */
	--fs-medium: 1.5rem; /* 24px */
	--fs-regular: 1.125rem; /* 18px */
}

/* --- TYPOGRAPHY --- */

@font-face {
    font-family: Wonderland;
    src: url(./Fonts/alice_in_wonderland/Alice_in_Wonderland_3.ttf);
}

body {
    background-color: var(--clr-black-almost);
    color: var(--clr-purple-brand);
    font-family: var(--ff-alice);
    font-size: var(--fs-regular);
    font-weight: var(--fw-400);
    line-height: 1.5;
}

h1 {
    font-size: var(--fs-large);
    font-weight: var(--fw-700);
    line-height: 1.5;
    font-family: var(--ff-wonderland);
}
h1, h2 {
    text-transform: uppercase;
    padding: 2rem 0;
}

p {
    font-size: var(--fs-regular);
    font-weight: var(--fw-400);
    line-height: 1.5;
    font-family: var(--ff-alice);
    color: var(--clr-blue-light);
    padding: 1.25rem 0;
}

hr {
    border: 1px solid var(--clr-blue-light);
    margin: 1rem 0;
}

a {
    color: var(--clr-blue-alice);
}

/* -- Typography: Utility Classes -- */

.ff-computer {
    font-family: var(--ff-computer);
    color: var(--clr-blue-alice);
}

.font-uppercase {
    text-transform: uppercase;
}

/* --- LAYOUT --- */

header {
    padding: 1rem;
    max-width: 75vw;
    display: grid;
    text-align: center;
    align-content: center;
}